.login__form__input {
    font-family: Raleway;
    padding: 18px 12px 25px 12px;
    border: none;
    border-bottom: 3px solid #c8c8c8;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 25px;
}